/* **********HERO SECTION START********** */

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.hero-left,
.hero-right {
  width: 50%;
  height: 100%;
  background-image: url("../assets/img-1.png");
  background-clip: border-box;
  background-size: cover;
  background-position: 100%;
}

.color-overlay {
  background-color: rgba(40, 238, 167, 0.93);
  height: 100%;
  animation: changeColor 14s infinite ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@keyframes changeColor {
  0% {
    background-color: rgba(40, 238, 167, 0.93);
  }
  50% {
    background-color: rgba(251, 80, 142, 0.93);
  }
  75% {
    background-color: rgba(152, 100, 218, 0.93);
  }
  100% {
    background-color: rgba(40, 238, 167, 0.93);
  }
}

.hero-left-content-wrapper,
.hero-right-content-wrapper {
  width: 50%;
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 0px 50px 0 50px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.hero-left-title,
.hero-right-title {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 1;
}

.fixed-h1,
.title-1 {
  font-size: 22px;
  padding: 0 10px;
  width: auto;
  background-color: #363738;
  line-height: 1.5;
}

.transition-h1,
.question {
  font-size: 36px;
  padding: 15px 0 0 0;
}

.hero-left-description,
.hero-right-description {
  margin: 40px 0 80px 0;
  font-size: 16px;
  font-weight: 100;
  min-height: 10ch;
  line-height: 1.5;
}

.get-trained-link,
.hire-link {
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
  color: rgb(252, 252, 252);
  padding: 10px 17px;
  width: 150px;

  background-color: #232323;
}

.hero-right {
  background-image: linear-gradient(rgba(35, 35, 35, 0.85), rgba(35, 35, 35, 0.85)), url("../assets/img-2.png");
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-right-content-wrapper {
  text-align: start;
  height: 100%;
  align-items: start;
}

.hero-right-title {
  font-weight: 1000;
  line-height: 1;
  align-items: start;
}

.title-1 {
  color: #363738;
  background-color: white;
  line-height: 1.5;
  font-weight: 1000;
}

.hire-link {
  color: #363738;
  background-color: #ffffff;
}

.nav-components,
.menu-nav {
  height: 50px;
  width: 63%;
  display: flex;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 18%;
  justify-content: space-between;
}

.hamburger-menu,
.exit-menu {
  align-self: center;
  background-color: #363738;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.menu-btn-image {
  width: 35px;
  height: 35px;
}

.menu-container {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  backdrop-filter: blur(10px);
  background-color: #232323e6;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-content {
  display: flex;
  width: 62%;
  height: auto;
  padding-top: 50px;
  margin: auto;
  flex-wrap: wrap;
}
.menu-links {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;
}

.link-menu-item {
  text-decoration: none;
  font-size: 24px;
  color: #a5a6a9;
  font-weight: bolder;
}
.link-menu-item:nth-child(1) {
  color: #28eea7;
}
.menu-right {
  flex-grow: 1;
  align-items: end;
  display: flex;
  flex-direction: column;
}

.menu-signUp {
  height: 75%;
  background-color: #363738;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 500px;
  margin-bottom: 20px;
}

.prompt-title {
  color: white;
  text-align: left;
  width: 100%;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 23px;
}

.pointer {
  color: #28eea7;
}

.prompt-description {
  width: 100%;
  color: #a5a6a9;
  font-size: 14px;
  margin-bottom: 23px;
  text-align: left;
}

.login-link,
.signup-link {
  margin-top: auto;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #28eea7;
  padding: 15px 20px;
  font-weight: 900;
}

.signup-link {
  margin-top: 5px;
  background-color: #ffffff;
}

.hr-factory {
  padding: 20px;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #31b7f0;
  height: 30%;
  border-radius: 20px;
  align-items: center;
  color: white;
  text-decoration: none;
}

.hr-factory img {
  width: 100px;
  height: 90px;
}

.hr-ad-content {
  padding: 0px 0 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hr-content-title {
  width: 60%;
  font-weight: 1000;
  font-size: 18px;
}

.hr-content-text {
  font-size: 12px;
}

/* **********HERO SECTION END********** */

/* **********HELLO-WORLD SECTION START********** */

.hello-world {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 70px 0;
  background-color: #f1f2f3;
}

.section-title {
  display: flex;
  width: 60%;
  justify-content: start;
  font-size: 36px;
  font-family: Noto Sans Mono, sans-serif;
  align-items: center;
  font-weight: 900;
  line-height: 1.4;
}

.section-title-pointer {
  color: #28eea7;
  font-weight: bolder;
  padding: 5px 0px 5px 15px;
}

.sectino-title-text {
  font-size: 24px;
  padding: 0px 0px 0px 20px;
}

.circle-colored-icons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.circle-icon-black,
.circle-icon-grey,
.circle-icon-green {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #363738;
}

.circle-icon-grey {
  background-color: #dcdee1;
}

.circle-icon-green {
  background-color: #28eea7;
}

.youtube {
  width: 60%;
  height: 100%;
  border: 15px solid #28eea7;
  border-radius: 15px;
  margin-top: 50px;
}

.youtube iframe {
  width: 100%;
  height: 100%;
}
